# Environment variables
.env
.env.*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
backend/venv/
venv/
ENV/
env/

# Node
node_modules/
frontend/node_modules/
dist/
frontend/dist/
.DS_Store
Thumbs.db
